@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
}
* {
	font-family: 'Nunito Sans', sans-serif;
}
body {
}
#app {
	max-width: 50%;
	/* padding: 0.2rem 0.2rem;
	margin: 1.5rem; */
	/* border: solid 5px var(--main-bg-color);
	outline-offset: 1rem;
	outline: 1rem solid #363636; */
}
#pixi {
}

#outerContainer {
	display: flex;
	flex-direction: row;
}
