@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
}
* {
	font-family: 'Montserrat', sans-serif;
}
body {
}
#app {
	/* max-width: 50%; */
	/* padding: 0.2rem 0.2rem;
	margin: 1.5rem; */
	/* border: solid 5px var(--main-bg-color);
	outline-offset: 1rem;
	outline: 1rem solid #363636; */
}
#pixi {
}
.menu {
	position: absolute;
	top: 4px;
	left: 0px;

	overflow: auto;
	white-space: nowrap;
	color: #a68655;
	width: 80%;
	margin: 0 10%;
}
.menu > h1 {
	font-size: 16pt;
	margin: 10px;
	display: inline-block;
}
.menu > h1:hover {
	color: #007ec7;
}
#outerContainer {
	display: flex;
	flex-direction: row;
}
@media only screen and (min-width: 600px) and (min-height: 400px) {
	.menu {
		top: 10px;
	}
	.menu > h1 {
		font-size: 28pt;
	}
}
